.w-fit {
  // width: fit-content;
}

.w-40px {
  // width: 40px;
}
.h-40px {
  // height: 40px;
}
.w-45px {
  // width: 45px;
}
.w-60px {
  // width: 60px;
}
.h-60px {
  // height: 60px;
}
.w-70px {
  // width: 70px;
}
.w-75px {
  // width: 75px;
}
.w-100px {
  // width: 100px;
}
.h-100px {
  // height: 100px;
}
.w-150px {
  // width: 150px;
}
.h-150px {
  // height: 150px;
}
.h-200px {
  // height: 200px;
}
.w-300px {
  // width: 300px;
}

.min-w-100px {
  min-width: 100px;
}

@include media-breakpoint-up(md) {
  .h-md-300px {
    height: 300px;
  }
  .min-w-md-150px {
    min-width: 150px;
  }
  .w-md-150px {
    width: 150px;
  }
  .min-w-md-200px {
    min-width: 200px;
  }
  .w-md-200px {
    width: 200px;
  }
}
@include media-breakpoint-up(lg) {
  .min-w-lg-250px {
    min-width: 250px;
  }
  .w-lg-250px {
    width: 250px;
  }
}
