//font family
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

// icon
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0");

// @import "../../node_modules/jquery-ui/themes/base/core.css";
// @import "../../node_modules/jquery-ui/themes/base/theme.css";
// @import "../../node_modules/jquery-ui/themes/base/datepicker.css";

//sweetalert
// @import "../../node_modules/sweetalert2/src/sweetalert2.scss";

// bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
// @import "../../node_modules/bootstrap/scss/mixins";
@import "./utilities";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// base
@import "./base/base.scss";

// components
@import "./components/btn";
@import "./components/card";
@import "./components/badge-title";
@import "./components/input-search";
@import "./components/input";
@import "./components/collapse";
@import "./components/block-title";
@import "./components/pagination";
@import "./components/datepicker";

// layout
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/message";
@import "./layout/backtotop";

@import "./pages/index.scss";
@import "./pages/course_introduction";
@import "./pages/course.scss";
@import "./pages/account";
@import "./pages/cart.scss";

//utils
@import "./utils/helpers.scss";
@import "./utils/hover.scss";
