.btn-secondary2:hover {
	background-color: $primary !important;
}

.btn-secondary2:disabled {
	background-color: $gray-200;
}

.btn-text{
	position:relative;
	border:0;
	background-color:transparent;
	margin-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	&::after{
		content:">";
		position: absolute;
		font-weight: bold;
		color:white;
		line-height: 22px;
		border:0;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		background-color: $secondary2;
		right:-21px;
	}
	&:hover{
		color:$primary;
		&::after{
			background-color: $primary;
		}
	}
	&:disabled{
		color: $gray-300;
		&::after{
			background-color: $gray-200;
			color:$gray-300;
		}
	}
}

