.teacher-card{
    width: 416px;
    padding: 24px;
    box-shadow: 0px 4px 30px 0px rgba(150, 150, 150, 0.20);
    &-content{
        display: flex;
        flex-direction: column;
        margin-right: auto;
    }
    &-profile{
        display: flex;
        padding-bottom: 20px;
        border-bottom:1px solid #D6D6D6;
        margin-bottom: 20px;
    }
    &-img{
        border-radius: 50px;
    }
    &-title{
        font-family: 'Noto Sans TC';
        padding-left: 24px;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 8px;
        &::after{
            position: absolute;
            content:"";
            background-image: url('../../../assets/images/hot.svg');
            width: 24px;
            height: 24px;
            top:0;
            left:-4px;
        }
    }
    &-name{
        font-size: 14px;
        line-height: 1.5;
        color:#7B7B7B;
        margin-bottom: 8px;
    }
    &-object{
        display: flex;
        gap:12px;
        font-family: 'Noto Sans TC';
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 8px;
    }
    &-evaluate{
        color:#01A3E8;
        position: relative;
        padding-left: 16px;
        &::after{
            position: absolute;
            content:"";
            background-image: url('../../../assets/images/star.svg');
            width: 16px;
            height: 16px;
            top:0;
            left:-4px;
        }
    }
    &-hours{
        color: #7B7B7B;
        position: relative;
        padding-left: 16px;
        &::after{
            position: absolute;
            content:"";
            background-image: url('../../../assets/images/clock.svg');
            width: 16px;
            height: 16px;
            top:1px;
            left:-4px;
        }
    }
    &-price{
        font-family: 'Noto Sans TC';
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
    }
    &-text{
        color: #7B7B7B;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        font-family: 'Noto Sans TC';
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 24px;
    }
    &-btn{
        display: block;
        font-family: Noto Sans TC;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        color: #115BC9;
        text-align: center;
        &:hover{
            color:#01A3E8;
        }
    }
    &:hover{
        transform: scale(1.05);
        transition: transform 0.5s;
    }
}

