input.hasDatepicker {
  @include media-breakpoint-up(sm) {
    background: url("https://raw.githubusercontent.com/Peg-L/project-code/89a637dfbea6e49a34b11aacf46dc07a001b4a90/assets/images/calendar.svg")
      no-repeat transparent;
    background-position: right 12px center;
  }
}
.ui-datepicker {
  &.ui-widget {
    border: 2px solid $primary;
    border-radius: 6px;
  }
  .ui-widget-header {
    background-color: $primary;
    color: $white;
    border-width: 0;

    .ui-state-hover {
      transition: all 0.2s;
      border-width: 0;
      background: transparent;
      transform: scale(1.1);
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
      cursor: pointer;
    }
    .ui-icon {
      filter: brightness(5);
    }
  }

  .ui-state-default {
    background-color: #fff;
    text-align: center;
    border-width: 0;
    border-radius: 3px;
  }
  .ui-state-highlight {
    background: $secondary;
    color: $secondary2;
  }
  .ui-state-active {
    background: $secondary2;
    color: $white;
  }
  select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img),
      var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: none;
    border-radius: var(--bs-border-radius-sm);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
