.navbar {
  box-shadow: 0 0.2rem 1rem rgba($dark, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

// 漢堡選單
.navbar-toggler {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  &:focus {
    box-shadow: none;
  }

  &-icon,
  &-icon::before,
  &-icon::after {
    background-image: none;
    display: block;
    content: "";
    background-color: $gray-300;
    position: absolute;
    height: 2px;
    width: 33px;
    border-radius: 4px;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in;
  }

  &-icon {
    transform-origin: 8px 0px;

    &::before {
      margin-top: -8px;
      transform-origin: 0% 0%;
    }

    &::after {
      margin-top: 8px;
      transform-origin: 0% 100%;
    }
  }
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  z-index: 1070;

  &-icon.close-btn {
    background-color: $white;

    &::before {
      transform: rotate(45deg) translate(2px, -7px);
    }

    &::after {
      transform: rotate(-45deg) translate(2px, 7px);
    }
  }
}

.navbar-scrollBar::-webkit-scrollbar {
  display: none; // 隱藏滾動軸
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: $black;
  text-align: center;
  position: relative;

  &:hover {
    color: $primary;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.nav-link.pc {
  &:hover {
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 6px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $primary;
    }
  }
}

.menu-active {
  color: $primary;
}

.accordion-body {
  padding: 0;
  padding-top: 8px;

  a {
    padding: 8px 0;
    display: block;
    font-size: 12px;
    color: $black;

    &:hover {
      color: $primary;
    }
  }
}

.accordion-button {
  text-align: center;
  justify-content: center;
  padding: 8px 0;

  &::after {
    margin: 0;
    right: 0;
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/Peg-L/project-code/89a637dfbea6e49a34b11aacf46dc07a001b4a90/assets/images/chevron-down.svg");
  }

  &:not(.collapsed)::after {
    background-image: url("https://raw.githubusercontent.com/Peg-L/project-code/89a637dfbea6e49a34b11aacf46dc07a001b4a90/assets/images/chevron-down.svg");
  }
}

@include media-breakpoint-up(lg) {
  .navbar-nav {
    .accordion-button::after,
    .accordion-button:not(.collapsed)::after {
      display: none;
    }
  }
}

.btn-login,
.btn-logout {
  padding: 8px 16px;

  &:hover {
    color: $primary;
  }
}

.btn-member,
.btn-logout {
  display: none;
}

.hover-text-primary:hover {
  color: $primary;
}

.footer-cate-title {
  font-size: 16px;
  margin-bottom: 16px;
  font-family: "Noto Sans TC", sans-serif;
}

.footer-cate-list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

$bdrs: 50%;

.hasProducts {
  font-size: 12px;
  font-weight: bold;
  color: $light;
  padding: 3px 4px;
  background-color: rgb(218, 27, 13);

  right: 10px;
  top: -16px !important;
  border-radius: $bdrs;
  font-family: $font-family-monospace;
}

.z-6 {
  z-index: 1060;
}
