.filter-sidebar-sticky {
  @include media-breakpoint-up(xl) {
    position: sticky;
    top: 68px;
    height: calc(100vh - 68px);
    overflow-y: auto;
  }
  &.show {
    @include media-breakpoint-up(xl) {
      min-width: 380px;
      padding: 0 20px 0 60px;
    }
  }
}

.z-1031 {
  z-index: 1031;
}
