.view-move{
    position: sticky;
    top:40px;
}
.title-line::before{
    content: "";
    position: absolute;
    border-left: 4px solid $primary;
    top:2px;
    left:0;
    height: 18px;
}
.list-decorate::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: $primary;
    top:10px;
    left:0;
}
.calendar{
    position: relative;
}
.btn-calendar{
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    &:hover{
        color: $primary !important;
    }
}
.calendar{
    width: 100%;
}
.calendar-list{
    display: flex;
    flex-direction: column;
    width: 10%;
    gap:8px;
    padding-top: 8px;
    border-top: 4px solid $primary;
}
.calendar-time{
    display: flex;
    flex-direction: column;
    gap:4px;
    li{
        text-align: center;
        position: relative;
        &:hover{
            outline:2px solid $primary;
            font-weight: bold;
            transition: font-weight 0.2s;
            a{
                color: $primary;
                transition: color 0.2s;
            }
            &::before {
                position: absolute;
                vertical-align: middle;
                content: "預約課程";
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 35px;
                top:-40px;
                right:0;
                background-color: black;
                color: #fff;
                transition: all 0.5s;
            }
        }
        
    }
}
@media (max-width:769px){
    .calendar-time{
        li{
            &:hover{
                &::before{
                    display: none;
                }
            }
        }
    }
    
}
@media (max-width:375px){
    .calendar-time{
        li{
            &:hover{
                outline: 0;
            }
        }
        a{
            font-size: 8px;
        }
    }
    
}
.circle .circle-text{
    font-size: 16px;
}
.circle .circle-info-text{
    font-size: 12px;
}

.star{
    color: $primary;
    display: flex;
    align-items: center;
    span{
        font-size: 18px;
    }
}
.btn-week:hover{
    background: $primary;
    color:#fff;
    font-weight: bold;
}
.card-evaluate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0px 4px 30px 0px #96969633;
    position: relative;
    &-content{
        padding-top: 56px;
    }
    &-person{
        display: flex;
        align-items: center;
        gap:12px;
    }
    &-name{
        font-size: 18px;
        font-weight: 500;
        margin-right: 4px;
    }
    &-title{
        font-size: 14px;
        font-weight: 400;
        color: #7B7B7B;
    }
    &::before{
        content:"";
        position: absolute;
        background-image: url("../../../assets/images/”.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 30px;
        top: 24px;
        left: 24px;
    }
}
.bg-custom{
    background-image: url('../../../assets/images/background.jpg');
    height: 600px;
    background-size: cover;
}

@media (max-width:768px){
    .bg-custom{
        height: 448px;
    }
    .view-move{
        position:unset;
    }
}