.filter-sidebar-sticky {
  @include media-breakpoint-up(xl) {
    position: sticky;
    top: 78px;
    height: calc(100vh - 78px);
    overflow-y: auto;
  }
  &.show {
    @include media-breakpoint-up(xl) {
      min-width: 380px;
      margin: 0 40px 0 20px;
      padding-right: 20px;
    }
  }
}
