// banner
.banner-img {
  height: 300px;

  @include media-breakpoint-up(md) {
    height: 640px;
  }

  &-1 {
    background: url("../images/banner.svg") no-repeat center / cover;
  }

  &-2 {
    background: url("../images/banner2-2.jpg") no-repeat center / cover;
  }

  &-3 {
    background: url("../images/banner3.jpg") no-repeat center / cover;
  }
}

.banner-title {
  font-size: 30px;
  color: $white;
  margin-bottom: 24px;
  font-weight: bold;

  @include media-breakpoint-up(md) {
    font-size: 60px;
    margin-bottom: 48px;
  }
}

.bannerSwiper-pagination {
  margin-top: 20px;

  span {
    width: 6px;
    height: 6px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
  }
  .swiper-pagination-bullet {
    background-color: $gray-300;
  }

  .swiper-pagination-bullet-active {
    background-color: $primary;
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    --swiper-pagination-bottom: 40px;

    span {
      width: 8px;
      height: 8px;
      --swiper-pagination-bullet-horizontal-gap: 12px;
    }

    .swiper-pagination-bullet {
      background-color: rgba($white, 0.9);
    }

    .swiper-pagination-bullet-active {
      background-color: $white;
    }
  }
}

// recommend 熱門推薦
.bg-gray-dot {
  background: url("../images/bg-gray-dot-sm.png") no-repeat center / cover;

  @include media-breakpoint-up(md) {
    background: url("../images/bg-gray-dot.jpg") no-repeat center / cover;
  }
}

.recommendSwiper {
  overflow-y: visible;
  overflow-x: clip;
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  transform: translateX(0);
}

// 探索地圖 category
// cate - 背景圖
.cate-animation {
  &-top {
    animation: fluidTop 15s infinite alternate;
    position: absolute;
    width: 592px;
    height: 156px;
    top: 16px;
    right: -175px;
    transform: rotate(27deg);
    border-radius: 50% / 50%;
    background: #78f7ff;
    filter: blur(35px);

    &::before {
      content: "";
      position: absolute;
      width: 555px;
      height: 132px;
      top: -10px;
      right: -145px;
      border-radius: 50% / 50%;
      background: #7ad7ff;
    }

    &::after {
      content: "";
      position: absolute;
      width: 555px;
      height: 132px;
      top: -16px;
      right: -220px;
      border-radius: 50% / 50%;
      background: $light;
    }
  }

  &-bottom {
    animation: fluidBottom 18s infinite alternate;
    position: absolute;
    width: 700px;
    height: 150px;
    bottom: 120px;
    left: -150px;
    transform: rotate(27deg);
    border-radius: 50% / 50%;
    background: #78f7ff;
    filter: blur(40px);

    &::before {
      content: "";
      position: absolute;
      width: 700px;
      height: 150px;
      bottom: 5%;
      left: -20%;
      border-radius: 50% / 50%;
      background: #7ad7ff;
    }

    &::after {
      content: "";
      position: absolute;
      width: 670px;
      height: 132px;
      bottom: 15%;
      left: -28%;
      border-radius: 50% / 50%;
      background: $light;
    }
  }

  // background: url("../images/category/category-bgMask-sm.png") no-repeat center /
  //   cover;

  // @include media-breakpoint-up(md) {
  //   background: url("../images/category/category-bgMask.png") no-repeat center /
  //     cover;
  // }
}

@keyframes fluidTop {
  0% {
    width: 592px;
    height: 156px;
    top: 16px;
    right: -175px;
  }
  12% {
    width: calc(592px - 60px);
    height: calc(156px + 48px);
    top: 16px;
    right: -175px;
  }
  40% {
    width: calc(592px + 50px);
    height: calc(156px - 60px);
    top: 16px;
    right: -175px;
  }
  64% {
    width: calc(592px - 2px);
    height: calc(156px + 10px);
    top: 16px;
    right: -175px;
  }
  72% {
    width: calc(592px + 45px);
    height: calc(156px - 60px);
    top: 16px;
    right: -175px;
  }
  90% {
    width: calc(592px - 35px);
    height: calc(156px + 60px);
    top: 16px;
    right: -175px;
  }
  100% {
    width: calc(592px + 35px);
    height: calc(156px + 30px);
    top: 16px;
    right: -175px;
  }
}

@keyframes fluidBottom {
  0% {
    width: 700px;
    height: 150px;
    bottom: 120px;
    left: -150px;
    transform: rotate(27deg);
  }
  12% {
    width: calc(700px - 60px);
    height: calc(150px + 48px);
    transform: rotate(35deg);
    bottom: 120px;
    left: -150px;
  }
  40% {
    width: calc(700px + 50px);
    height: calc(150px - 60px);
    transform: rotate(25deg);
    bottom: 120px;
    left: -150px;
  }
  64% {
    width: calc(700px - 2px);
    height: calc(150px + 10px);
    transform: rotate(20deg);
    bottom: 120px;
    left: -150px;
  }
  72% {
    width: calc(700px + 45px);
    height: calc(150px - 60px);
    transform: rotate(22deg);
    bottom: 120px;
    left: -150px;
  }
  90% {
    width: calc(700px - 35px);
    height: calc(150px + 60px);
    transform: rotate(25deg);
    bottom: 120px;
    left: -150px;
  }
  100% {
    width: calc(700px + 35px);
    height: calc(150px + 30px);
    transform: rotate(27deg);
    bottom: 120px;
    left: -150px;
  }
}

// cate - 去除 category 標題多餘藍色點點
.category {
  .block-title:first-of-type {
    &::after {
      display: none;
    }
  }
}

// cate - 漸層標題
.title-highlight {
  background: var(
    --linear,
    linear-gradient(180deg, #00e4f2 0%, #0067ff 100%)
  ); // background定義了線性梯度的背景。從180度方向,0%處為#00E4F2,100%處為#0067FF
  background-clip: text; // 將背景只裁切到文本區域
  -webkit-background-clip: text; // 是Chrome/Safari的兼容前綴屬性
  -webkit-text-fill-color: transparent; // 使文本透明，以露出背景
}

// cate - 藏寶圖
.treasure {
  width: 276px;

  @include media-breakpoint-up(md) {
    width: 350px;
  }

  @include media-breakpoint-up(lg) {
    width: 478px;
  }
}

// cate - 教師分類
.cate-item {
  a {
    padding: 28px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border: 2px solid $secondary;
    border-radius: 6px;
    box-shadow: 0px 4px 30px 0px rgba(0, 179, 255, 0.2);
    transition: all 0.3s ease-in-out;
    @include media-breakpoint-up(md) {
      border-radius: 8px;
    }

    &:hover {
      background-color: $secondary;
      border: 2px solid $white;
      box-shadow: 0px 4px 30px 0px rgba(0, 179, 255, 0.3);

      h4 {
        color: $primary;
      }
    }
  }

  h4 {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }

  img {
    width: 48px;

    @include media-breakpoint-up(md) {
      width: 56px;
    }
  }
}

// why us 選擇我們
.whyus-list {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  // row-gap: 28px;
  // margin-bottom: 0;

  @include media-breakpoint-up(md) {
    // flex-direction: row;
    // column-gap: 80px;
  }

  .whyus-item {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;

    @include media-breakpoint-up(md) {
      width: 264px;
      height: 264px;
    }

    &.best-platform {
      background: url("../images/whyus/best-platform.svg") no-repeat center /
        cover;
    }

    &.discount {
      background: url("../images/whyus/discount.svg") no-repeat center / cover;
    }

    &.evaluation {
      background: url("../images/whyus/evaluation.svg") no-repeat center / cover;
    }

    &.flexible {
      background: url("../images/whyus/flexible.svg") no-repeat center / cover;
    }
  }

  .badge-title {
    font-size: 16px;
    padding: 8px 12px;
    position: relative;
    top: 12px;
    left: -12px;

    @include media-breakpoint-up(md) {
      font-size: 20px;
      padding: 12px 16px;
      top: 16px;
      left: -16px;
    }

    &::after {
      content: url("../images/whyus/triangle.svg");
      // display: inline;
      width: 16px;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;

      @include media-breakpoint-up(md) {
        content: url("../images/whyus/triangle-lg.svg");
        bottom: 2px;
      }
    }
  }

  .whyus-info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: $white;

    li:first-child {
      margin-bottom: 4px;
    }
  }
}

.thumb-up-img {
  position: relative;
  background: url("../images/bg-thumbs-up-img-sm.png") no-repeat left / cover;

  @include media-breakpoint-up(md) {
    background: none;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;

    @include media-breakpoint-up(md) {
      content: url("../images/bg-thumbs-up-img.png");
      left: 30%;
    }
  }
}

// scroll 樣式修改
body {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $gray-200;
  }
}
