<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>購物車 | C0DE</title>
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <%- include('./layout/header',{page: "cart3"}); -%>
    <!--========================
    =        step bar          =
    =========================-->
    <div class="container-sm mt-18 mt-md-22 mb-10 mb-md-15">
      <div class="col-md-10 col-lg-7 mx-auto">
        <ul
          class="stepbar list-unstyled d-flex justify-content-between mt-2 mt-md-7 mb-8 mb-md-13"
        >
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">1</div>
            <p class="fw-bold">確認訂單</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">2</div>
            <p class="fw-bold">預約時段</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">3</div>
            <p class="fw-bold">課程明細</p>
          </li>
        </ul>
        <!--========================
        =           card           =
        =========================-->
        <h2 class="fs-4 fs-md-3 mb-6 mb-md-8">課程明細</h2>
        <!-- card -->
        <ul class="d-flex flex-column gap-5 mb-5 js-cartList"></ul>
        <!--========================
        =         注意事項          =
        =========================-->
        <div class="mb-8">
          <h4 class="mb-2">注意事項</h4>
          <ol>
            <li class="list-number">
              老師確認後才算是預約完成，如預約成功會傳送預約完成通知信，在此期間請注意老師訊息。
            </li>
            <li class="list-number">
              尚未預約的課程請注意須在到期日 <time>23:59</time> 前完成預約。
            </li>
            <li class="list-number">
              課程將使用 ZOOM 進行視訊教學，並全程錄影，上課前 10
              分鐘即可點選進入教室，系統會自動開啟
              ZOOM，電腦、平板、手機皆可上課。
            </li>
            <li class="list-number">
              如欲取消課程或更改時間，須在開課前 12 小時完成動作。
            </li>
          </ol>
        </div>
        <!--========================
        =          按鈕            =
        =========================-->
        <div class="d-flex justify-content-end">
          <a href="./course.html" class="btn btn-secondary2 rounded-2"
            >繼續選課</a
          >
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <!-- backtotop -->
    <%- include("./layout/backtotop.ejs") -%>
    <script type="module" src="../main.js"></script>
    <script src="../assets/js/config.js"></script>
    <script src="../assets/js/cart3.js"></script>
  </body>
</html>
