<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>購物車 | C0DE</title>
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!--========================
    =        step bar          =
    =========================-->
    <div class="container-sm mb-10 mb-md-15">
      <div class="col-md-10 col-lg-7 mx-auto">
        <ul
          class="stepbar list-unstyled d-flex justify-content-between mt-2 mt-md-7 mb-8 mb-md-13"
        >
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">1</div>
            <p class="fw-bold">確認付款</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">2</div>
            <p class="fw-bold">預約時段</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">3</div>
            <p class="fw-bold">課程明細</p>
          </li>
        </ul>
        <!--========================
        =           card           =
        =========================-->
        <h2 class="fs-4 fs-md-3 mb-6 mb-md-8">課程明細</h2>
        <!-- card -->
        <ul class="d-flex flex-column gap-5 mb-5">
          <!-- card1 -->
          <li
            class="d-flex flex-column align-items-center shadow rounded-2 p-4 pb-md-4 pt-md-6 px-md-8 mb-1 mb-md-2"
          >
            <h3
              class="fs-5 fs-md-4 fw-bold mb-4 mb-md-6 text-secondary2 text-center"
            >
              從零開始成為切版大師
            </h3>
            <!-- 右 -->
            <table
              class="table table-hover border-primary col-12 col-sm-10 mb-5"
            >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">日期</th>
                  <th scope="col">時間</th>
                </tr>
              </thead>
              <tbody class="fs-sm fs-md-7">
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 1 堂 (20 分鐘)</th>
                  <td>2023/09/20 (三)</td>
                  <td>AM 09:00 - AM 09:20</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 2 堂 (50 分鐘)</th>
                  <td>2023/09/24 (日)</td>
                  <td>AM 09:00 - AM 09:50</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 3 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
              </tbody>
              <tfoot class="fs-sm fs-md-7 table-group-divider border-primary">
                <tr>
                  <th scope="row">共購買 3 堂</th>
                  <td colspan="2">
                    <ul class="ms-5">
                      <li class="list-disc">
                        目前已預約 2 堂 ，尚有 1 堂未預約
                      </li>
                      <li class="list-disc"><time>2024/1/1</time> 到期</li>
                    </ul>
                  </td>
                </tr>
              </tfoot>
            </table>
            <button type="button" class="btn btn-secondary2 w-50">
              聯絡老師
            </button>
          </li>
          <!-- card2 -->
          <li
            class="d-flex flex-column align-items-center shadow rounded-2 p-4 pb-md-4 pt-md-6 px-md-8 mb-1 mb-md-2"
          >
            <h3
              class="fs-5 fs-md-4 fw-bold mb-4 mb-md-6 text-secondary2 text-center"
            >
              Python 全攻略
            </h3>
            <!-- 右 -->
            <table
              class="table table-hover border-primary col-12 col-sm-10 mb-5"
            >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">日期</th>
                  <th scope="col">時間</th>
                </tr>
              </thead>
              <tbody class="fs-sm fs-md-7">
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 1 堂 (50 分鐘)</th>
                  <td>2023/02/02 (四)</td>
                  <td>AM 09:00 - AM 09:50</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 2 堂 (50 分鐘)</th>
                  <td>2023/02/05 (日)</td>
                  <td>AM 09:00 - AM 09:50</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 3 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 4 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 5 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 6 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 7 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 8 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 9 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-bold mb-1">第 10 堂 (50 分鐘)</th>
                  <td>未預約</td>
                  <td>未預約</td>
                </tr>
              </tbody>
              <tfoot class="fs-sm fs-md-7 table-group-divider border-primary">
                <tr>
                  <th scope="row">共購買 10 堂</th>
                  <td colspan="2">
                    <ul class="ms-5">
                      <li class="list-disc">
                        目前已預約 2 堂 ，尚有 8 堂未預約
                      </li>
                      <li class="list-disc"><time>2024/2/1</time> 到期</li>
                    </ul>
                  </td>
                </tr>
              </tfoot>
            </table>
            <button type="button" class="btn btn-secondary2 w-50">
              聯絡老師
            </button>
          </li>
        </ul>
        <!--========================
        =         注意事項          =
        =========================-->
        <div class="mb-8">
          <h4 class="mb-2">注意事項</h4>
          <ol>
            <li class="list-number">
              老師確認後才算是預約完成，如預約成功會傳送預約完成通知信，在此期間請注意老師訊息。
            </li>
            <li class="list-number">
              尚未預約的課程請注意須在到期日 <time>23:59</time> 前完成預約。
            </li>
            <li class="list-number">
              課程將使用ZOOM進行視訊教學，並全程錄影，上課前10分鐘即可點選進入教室，系統會自動開啟
              ZOOM，電腦、平板、手機皆可上課。
            </li>
            <li class="list-number">
              如欲取消課程或更改時間，須在開課前 12 小時完成動作。
            </li>
          </ol>
        </div>
        <!--========================
        =          按鈕            =
        =========================-->
        <div class="d-flex justify-content-between">
          <a href="./cart2.html" class="btn btn-secondary2 rounded-2">上一步</a>
          <a href="./course.html" class="btn btn-secondary2 rounded-2"
            >確認明細</a
          >
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <!-- backtotop -->
    <%- include("./layout/backtotop.ejs") -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
