<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>購物車 | C0DE</title>
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/Peg-L/project-code/main/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <%- include('./layout/header',{page: "cart2"}); -%>
    <!--========================
    =        step bar          =
    =========================-->
    <div class="container-sm mt-18 mt-md-22 mb-10 mb-md-15">
      <div class="col-md-10 col-lg-7 mx-auto d-flex flex-column">
        <ul
          class="stepbar list-unstyled d-flex justify-content-between mt-2 mt-md-7 mb-8 mb-md-13"
        >
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">1</div>
            <p class="fw-bold">確認訂單</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item ready mb-1 mb-md-2">2</div>
            <p class="fw-bold">預約時段</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="stepbar-item mb-1 mb-md-2">3</div>
            <p class="fw-bold">課程明細</p>
          </li>
        </ul>
        <!--========================
            =           card        =
            =========================-->
        <h2 class="fs-4 fs-md-3 mb-6 mb-md-8">預約時段</h2>
        <!-- card -->
        <ul class="d-flex flex-column gap-5 mb-6 js-cartList"></ul>
        <!--========================
        =          按鈕            =
        =========================-->

        <button
          type="button"
          class="btn btn-secondary2 rounded-2 ms-auto js-confirmBtn"
        >
          確認預約
        </button>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <!-- backtotop -->
    <%- include("./layout/backtotop.ejs") -%>
    <!-- jquery-ui -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--  -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/cart2.js"></script>
  </body>
</html>
