<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/js-plugin-circliful-master/dist/main.css">
    <title>C0DE | 讓你從 0 到 Expert</title>
    <link
    rel="shortcut icon"
    href="../assets/images/favicon.ico"
    type="image/x-icon"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container mt-lg-27">
        <div class="row">
            <div class="col-12 col-lg-7 mb-lg-0 mb-10">
                <!-- 1 -->
                <div class="rounded shadow p-lg-12 mb-lg-12 p-6 mb-10">
                    <div class="d-flex flex-lg-row flex-column">
                        <div class="d-flex flex-column align-items-center me-lg-12 mb-lg-0 mb-5">
                            <img class="mb-lg-2" src="../assets/images/Rectangle 7.png" alt="" style="height: 100px; width: 100px;">
                            <p class="fs-6 fw-bold text-secondary2">麥克先生</p>
                        </div>
                        <div class="">
                            <h4 class="teacher-card-title mb-2">從零開始成為切版大師</h3>
                            <p class="mb-2 text-secondary2">前端語言</p>
                            <p>帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子，輕鬆進入網頁架設的世界，完成一個基礎的網頁架設。</p>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <h2 class="fs-5 mb-4">老師介紹</h2>
                <div class="rounded shadow p-lg-12 mb-lg-12 p-6 mb-10">
                    <div class="d-flex flex-lg-row flex-column pb-lg-8 mb-lg-8 mb-6 border-bottom">
                        <div class="d-flex flex-column mb-lg-0 mb-4 me-lg-8">
                            <p class="d-flex mb-4 align-items-lg-center">
                                <span class="text-primary material-symbols-outlined d-block me-1">
                                school
                                </span>
                                <span class="text-gray-300 me-2">學歷</span>國立中央大學 資訊工程 <br class="d-lg-none d-block">碩士 畢業
                            </p>
                            <p class=" d-flex align-items-lg-center">
                                <span class="text-primary material-symbols-outlined d-block me-1">
                                business_center
                                </span>
                                <span class="text-gray-300 text-c1  me-2">經歷</span>2020.08 - 迄今 上市企業 韌體工程師
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="d-flex mb-4 align-items-center">
                                <span class="text-primary  material-symbols-outlined d-block me-1">
                                translate
                                </span>
                                <span class="text-gray-300 me-2">語言</span>中文/英文
                            </p>
                            <p class="d-flex mb-lg-0 mb-6 align-items-center">
                                <span class="text-primary material-symbols-outlined d-block me-1">
                                military_tech
                                </span>
                                <span class="text-gray-300 me-2">等級</span>入門
                            </p>
                        </div>
                    </div>
                    <p class="mb-8">目前任職於上市企業 韌體工程師，撰寫各種微控制器韌體程式，如作業系統、系統軟體、裝置控制程式、驅動程式、網路應用程式、系統整合程式、數位訊號處理程式等。</p>
                    <p>興趣是幫助他人學習程式語言，我相信，透過清楚的講解與示範，任何人都可以學好編寫程式與電腦科學中的複雜概念</p>
                </div>
                <!-- 3 -->
                <h2 class="fs-5 mb-4">課程簡介</h2>
                <div class="rounded shadow p-lg-12 mb-lg-12 p-6 mb-10">
                        <h3 class="title-line ps-4 fs-6 mb-4 position-relative">這堂課你將會學到：</h3>
                        <ul class="d-flex flex-column mb-8 ps-2">
                            <li class="list-decorate ps-4 position-relative">網頁設計，基礎知識</li>
                            <li class="list-decorate ps-4 position-relative">HTML 語法，概念實作能力</li>
                            <li class="list-decorate ps-4 position-relative">CSS , Javascript 概念與知識</li>
                            <li class="list-decorate ps-4 position-relative">能做出一個基礎的HTML 網頁</li>
                        </ul>
                        <h3 class="title-line ps-4 fs-6 mb-lg-4 mb-8 position-relative">什麼是 HTML，為什麼要打造網頁，就一定要先學它？</h3>
                        <p class="mb-4">HTML元素是構建網站的基石。HTML允許嵌入圖像與物件，並且可以用於建立互動式表單，它被用來結構化資訊——例如標題、段落和列表等等，也可用來在一定程度上描述文件的外觀和語意。</p>
                        <p class="">當你掌握了HTML，就可以開始規劃並建置你想要的網頁內容 !</p>
                </div>
                <!-- 4 -->
                <h2 class="fs-5 mb-4">授課時間</h2>
                <div class="mb-lg-12 mb-10">
                    <!-- data -->
                    <div class="d-flex align-items-center justify-content-around mb-4">
                        <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 btn-week">
                        <span class="material-symbols-outlined">
                        chevron_left
                        </span></button>
                        <p class=""> 2023/08/20 ~ 26</p>
                        <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 btn-week">
                        <span class="material-symbols-outlined">
                        navigate_next
                        </span></button>
                    </div>
                    <!-- calendar -->
                    <ul class="calendar d-flex gap-1 justify-content-between flex-lg-nowrap flex-wrap">
                        <li class="calendar-list">
                            <p class="text-center">日</p>
                            <ul class="calendar-time">
                                <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="">09:30</a></li>
                                <li><a href="">10:00</a></li>
                            </ul>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">一</p>
                            <ul class="calendar-time">
                                <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="">09:30</a></li>
                                <li><a href="">10:00</a></li>
                            </ul>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">二</p>
                            <ul class="calendar-time">
                                <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="">09:30</a></li>
                                <li><a href="">10:00</a></li>
                            </ul>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">三</p>
                            <ul class="calendar-time">
                                <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="">09:30</a></li>
                                <li><a href="">10:00</a></li>
                            </ul>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">四</p>
                            <ul class="calendar-time">
                                <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="" class=" text-primary ">09:30</a></li>
                                <li><a href="" class=" text-primary ">10:00</a></li>
                            </ul>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">五</p>
                            <ul class="calendar-time">
                                <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="">09:30</a></li>
                                <li><a href="">10:00</a></li>
                                <li><a href="">10:30</a></li>
                                <li><a href="" class=" text-primary fw-bold">11:00</a></li>
                                <li><a href="" class=" text-primary fw-bold">11:30</a></li>
                            </ul>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">六</p>
                            <ul class="calendar-time">
                                <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="">09:30</a></li>
                                <li><a href="">10:00</a></li>
                            </ul>
                        </li>
                            <button type="button" class="btn mx-auto btn-calendar text-secondary2" data-bs-toggle="modal" data-bs-target="#courseTime">
                                顯示全部時間
                            </button>
                    </ul>
                    
                </div>
                <!-- 5 -->
                <h2 class="fs-5 mb-4">教師表現數據</h2>
                <div class="rounded shadow p-lg-12 mb-lg-12 p-6 mb-10">
                        <ul class="row g-4">
                            <li class="col-lg-4 col-12 d-flex justify-content-center">
                                <div class="circle" id="circle1" style=" height: 200px;"></div>
                            </li>
                            <li class="col-lg-4 col-12  d-flex justify-content-center">
                                <div class="circle" id="circle2" style=" height: 200px;"></div>
                            </li>
                            <li class="col-lg-4 col-12  d-flex justify-content-center">
                                <div class="circle" id="circle3" style="
                                     height: 200px;"></div>
                            </li>
                        </ul>
                </div>
                <!-- 6 -->
                <div class="d-flex">
                    <h2 class="fs-5 mb-lg-4 me-2">課程評價</h2>
                    <ul class="d-flex align-items-center">
                        <li class="star">
                            <span class="material-symbols-outlined">
                            star
                            </span>
                        </li>
                        <li class="star">
                            <span class="material-symbols-outlined">
                            star
                            </span>
                        </li>
                        <li class="star">
                            <span class="material-symbols-outlined">
                            star
                            </span>
                        </li>
                        <li class="star">
                            <span class="material-symbols-outlined">
                            star
                            </span>
                        </li>
                        <li class="star">
                            <span class="material-symbols-outlined">
                            star_half
                            </span>
                        </li>
                        <li class="star">
                            4.5/5
                        </li>
                    </ul>
                </div>
                <ul class="card-evaluate">
                    <li class="card-evaluate-content mb-lg-5">
                        這個平台是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示了我的巨大優勢，學習 9 個月後找到工作~
                    </li>
                    <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                        <img src="../assets/images/Ellipse 1.svg" alt="">
                        <div class="d-flex flex-column">
                            <div class="text-primary d-flex align-items-center">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                            </div>
                            <div class="align-bottom">
                                <p class="card-evaluate-name">貓咪<span class="ms-1 card-evaluate-title">學生</span></p>
                            </div>
                        </div>
                        
                    </li>
                </ul>
                <ul class="card-evaluate">
                    <li class="card-evaluate-content mb-lg-5">
                        我找到了一位出色的Python老師，他的指導使我在後端能力上有了很大的進步。月薪也增加了2000元。強烈推薦給所有想！                    </li>
                    <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                        <img src="../assets/images/Ellipse 1 (2).svg" alt="">
                        <div class="d-flex flex-column">
                            <div class="text-primary d-flex align-items-center">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                                <img src="../assets/images/star.svg" alt="star">
                            </div>
                            <div class="align-bottom">
                                <p class="card-evaluate-name">小偉<span class="ms-1 card-evaluate-title">後端工程師</span></p>
                            </div>
                        </div>
                        
                    </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn text-secondary2" data-bs-toggle="modal" data-bs-target="#courseTalk">
                        查看所有評論(10)
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-4 offset-lg-1">
                <div class="view-move">
                    <h2 class="fs-5 mb-4">一對一教學</h2>
                    <div class="rounded shadow p-lg-12 mb-lg-12 p-6 mb-10">
                        <ul class="d-flex flex-column gap-">
                            <li class="py-4 d-flex justify-content-between align-items-center border-bottom border-gray-200">
                                <div>
                                    <p class="fs-4 fw-bold">NT$1600</p>
                                    <p class="">1堂50分鐘</p>
                                </div>
                                <button type="button" class="btn btn-text">立即預約</button>
                            </li>
                            <li class="py-4 d-flex justify-content-between align-items-center border-bottom border-gray-200">
                                <div>
                                    <p class="fs-4 fw-bold">NT$1400</p>
                                    <p class="">3堂50分鐘</p>
                                </div>
                                <button type="button" class="btn btn-text">立即預約</button>
                            </li>
                            <li class="py-4 d-flex justify-content-between align-items-center border-bottom border-gray-200">
                                <div>
                                    <p class="fs-4 fw-bold">NT$1000</p>
                                    <p class="">10堂50分鐘</p>
                                </div>
                                <button type="button" class="btn btn-text">立即預約</button>
                            </li>
                            <li class="py-4 d-flex justify-content-between align-items-center border-bottom border-gray-200">
                                <div>
                                    <p class="fs-4 fw-bold">NT$90</p>
                                    <p class="">20堂50分鐘</p>
                                </div>
                                <button type="button" class="btn btn-text">立即預約</button>
                            </li>
                            <li class="py-4 d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="fs-4 fw-bold">洽談報價</p>
                                    <p class="">客製化課程/專案製作</p>
                                </div>
                                <button type="button" class="btn btn-text">立即洽談</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>               
    </div>
    <div class="bg-custom mt-lg-8">
        <div class="container py-lg-20 py-10">
            <div class="d-flex justify-content-between mb-lg-10 mb-5">
                <h2 class="fs-5 fw-medium align-bottom">熱門教師推薦</h2>
                <button type="button" class="btn-text fw-medium align-self-end py-0">查看更多</button>
            </div>
            <div class="row g-6">
                <div class="col-12 col-lg-4">
                    <div class="teacher-card">
                        <div class="teacher-card-profile">
                            <div class="teacher-card-content">
                                <h3 class="teacher-card-title">JavaScript 大師</h3>
                                <p class="teacher-card-name">麥克先生</p>
                                <ul class="teacher-card-object">
                                    <!-- 評價 -->
                                    <li class="teacher-card-evaluate">5.0</li>
                                    <!-- 時數 -->
                                    <li class="teacher-card-hours">50分鐘</li>
                                </ul>
                                <p class="teacher-card-price">NT$<span>800</span></p>
                            </div>
                            <div class="teacher-card-img">
                                <img src="../assets/images/Rectangle 7.png" alt="" class="">
                            </div>
                        </div>
                        <p class="teacher-card-text">
                            一起探索 JavaScript
                            更多神奇功能和應用！深入了解高階概念，如閉包、原型繼承...
                        </p>
                        <button type="button" class="btn btn-secondary2 w-100 mb-3">
                            立即上課
                        </button>
                        <a type="button" class="btn teacher-card-btn">查看介紹</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4 d-lg-block d-none">
                    <div class="teacher-card">
                        <div class="teacher-card-profile">
                            <div class="teacher-card-content">
                                <h3 class="teacher-card-title">一起打造你的前端職涯</h3>
                                <p class="teacher-card-name">Peggy 阿榮</p>
                                <ul class="teacher-card-object">
                                    <!-- 評價 -->
                                    <li class="teacher-card-evaluate">5.0</li>
                                    <!-- 時數 -->
                                    <li class="teacher-card-hours">50分鐘</li>
                                </ul>
                                <p class="teacher-card-price">NT$<span>750</span></p>
                            </div>
                            <div class="teacher-card-img">
                                <img src="../assets/images/Rectangle 8.png" alt="" class="">
                            </div>
                        </div>
                        <p class="teacher-card-text">
                            我是一名資深前端工程師，擁有豐富的業界經驗。透過和我的諮詢幫助你擬定成功的職業規劃
                        </p>
                        <button type="button" class="btn btn-secondary2 w-100 mb-3">
                            立即上課
                        </button>
                        <a type="button" class="btn teacher-card-btn">查看介紹</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4 d-lg-block d-none">
                    <div class="teacher-card">
                        <div class="teacher-card-profile">
                            <div class="teacher-card-content">
                                <h3 class="teacher-card-title">Python 全攻略</h3>
                                <p class="teacher-card-name">Python 專家艾莉絲</p>
                                <ul class="teacher-card-object">
                                    <!-- 評價 -->
                                    <li class="teacher-card-evaluate">5.0</li>
                                    <!-- 時數 -->
                                    <li class="teacher-card-hours">50分鐘</li>
                                </ul>
                                <p class="teacher-card-price">NT$<span>1000</span></p>
                            </div>
                            <div class="teacher-card-img">
                                <img src="../assets/images/Rectangle 9.png" alt="" class="">
                            </div>
                        </div>
                        <p class="teacher-card-text">
                            沒有公版講義，也不用花錢買書。我會根據你的程度客製化屬於你的課程…
                        </p>
                        <button type="button" class="btn btn-secondary2 w-100 mb-3">
                            立即上課
                        </button>
                        <a type="button" class="btn teacher-card-btn">查看介紹</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 顯示全部時間 -->
    <div class="modal fade" id="courseTime" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content rounded-0">
                        <div class="modal-header justify-content-center border-0">
                        <h5 class="modal-title" id="exampleModalLabel">教師授課時間</h5>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex align-items-center justify-content-around mb-4">
                                <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 btn-week">
                                <span class="material-symbols-outlined">
                                chevron_left
                                </span></button>
                                <p class=""> 2023/08/20 ~ 26</p>
                                <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 btn-week">
                                <span class="material-symbols-outlined">
                                navigate_next
                                </span></button>
                            </div>
                            <!-- calendar -->
                            <ul class="calendar d-flex gap-3 justify-content-around flex-lg-nowrap flex-wrap">
                                <li class="calendar-list">
                                    <p class="text-center">日</p>
                                    <ul class="calendar-time">
                                        <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                        <li><a href="">08:30</a></li>
                                        <li><a href="">09:00</a></li>
                                        <li><a href="">09:30</a></li>
                                        <li><a href="">10:00</a></li>
                                    </ul>
                                </li>
                                <li class="calendar-list">
                                    <p class="text-center">一</p>
                                    <ul class="calendar-time">
                                        <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                        <li><a href="">08:30</a></li>
                                        <li><a href="">09:00</a></li>
                                        <li><a href="">09:30</a></li>
                                        <li><a href="">10:00</a></li>
                                    </ul>
                                </li>
                                <li class="calendar-list">
                                    <p class="text-center">二</p>
                                    <ul class="calendar-time">
                                        <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                        <li><a href="">08:30</a></li>
                                        <li><a href="">09:00</a></li>
                                        <li><a href="">09:30</a></li>
                                        <li><a href="">10:00</a></li>
                                    </ul>
                                </li>
                                <li class="calendar-list">
                                    <p class="text-center">三</p>
                                    <ul class="calendar-time">
                                        <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                        <li><a href="">08:30</a></li>
                                        <li><a href="">09:00</a></li>
                                        <li><a href="">09:30</a></li>
                                        <li><a href="">10:00</a></li>
                                    </ul>
                                </li>
                                <li class="calendar-list">
                                    <p class="text-center">四</p>
                                    <ul class="calendar-time">
                                        <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                        <li><a href="">08:30</a></li>
                                        <li><a href="">09:00</a></li>
                                        <li><a href="" class=" text-primary ">09:30</a></li>
                                        <li><a href="" class=" text-primary ">10:00</a></li>
                                    </ul>
                                </li>
                                <li class="calendar-list">
                                    <p class="text-center">五</p>
                                    <ul class="calendar-time">
                                        <li class=""><a href="" class=" text-primary ">08:00</a></li>
                                        <li><a href="">08:30</a></li>
                                        <li><a href="">09:00</a></li>
                                        <li><a href="">09:30</a></li>
                                        <li><a href="">10:00</a></li>
                                        <li><a href="">10:30</a></li>
                                        <li><a href="" class=" text-primary fw-bold">11:00</a></li>
                                        <li><a href="" class=" text-primary fw-bold">11:30</a></li>
                                        <li><a href="" class=" text-primary fw-bold">12:00</a></li>
                                        <li><a href="">12:30</a></li>
                                        <li><a href="">13:00</a></li>
                                        <li><a href="">13:30</a></li>
                                        <li><a href="">14:00</a></li>
                                    </ul>
                                </li>
                                <li class="calendar-list">
                                    <p class="text-center">六</p>
                                    <ul class="calendar-time">
                                        <li class="border border-2 border-primary fw-bold"><a href="" class=" text-primary ">08:00</a></li>
                                        <li><a href="">08:30</a></li>
                                        <li><a href="">09:00</a></li>
                                        <li><a href="">09:30</a></li>
                                        <li><a href="">10:00</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
    </div>
    
    <!-- 課程評價 -->
    <div class="modal fade" id="courseTalk" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content rounded-0">
                <div class="modal-header flex-column justify-content-center border-0">
                <h5 class="modal-title mb-2" id="exampleModalLabel">課程學員評價</h5>
                <div class="d-flex align-items-center justify-content-around gap-3 mb-4">
                    <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 px-lg-10 btn-week">
                    1星</button>
                    <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 px-lg-10 btn-week">
                    2星
                    </button>
                    <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 px-lg-10 btn-week">
                    3星
                    </button>
                    <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 px-lg-10 btn-week">
                    4星
                    </button>
                    <button type="button" class="btn border-light rounded-0 border border-gray-200 d-flex align-items-center py-1 px-lg-10 btn-week">
                    5星
                    </button>
                </div>
                </div>
                <div class="modal-body">
                    
                    <!-- calendar -->
                    <ul class="card-evaluate">
                        <li class="card-evaluate-content mb-lg-5">
                            這個平台是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示了我的巨大優勢，學習 9 個月後找到工作~
                        </li>
                        <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                            <img src="../assets/images/Ellipse 1.svg" alt="">
                            <div class="d-flex flex-column">
                                <div class="text-primary d-flex align-items-center">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                </div>
                                <div class="align-bottom">
                                    <p class="card-evaluate-name">貓咪<span class="ms-1 card-evaluate-title">學生</span></p>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                    <ul class="card-evaluate">
                        <li class="card-evaluate-content mb-lg-5">
                            這個平台是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示了我的巨大優勢，學習 9 個月後找到工作~
                        </li>
                        <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                            <img src="../assets/images/Ellipse 1.svg" alt="">
                            <div class="d-flex flex-column">
                                <div class="text-primary d-flex align-items-center">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                </div>
                                <div class="align-bottom">
                                    <p class="card-evaluate-name">貓咪<span class="ms-1 card-evaluate-title">學生</span></p>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                    <ul class="card-evaluate">
                        <li class="card-evaluate-content mb-lg-5">
                            這個平台是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示了我的巨大優勢，學習 9 個月後找到工作~
                        </li>
                        <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                            <img src="../assets/images/Ellipse 1.svg" alt="">
                            <div class="d-flex flex-column">
                                <div class="text-primary d-flex align-items-center">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                </div>
                                <div class="align-bottom">
                                    <p class="card-evaluate-name">貓咪<span class="ms-1 card-evaluate-title">學生</span></p>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                    <ul class="card-evaluate">
                        <li class="card-evaluate-content mb-lg-5">
                            這個平台是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示了我的巨大優勢，學習 9 個月後找到工作~
                        </li>
                        <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                            <img src="../assets/images/Ellipse 1.svg" alt="">
                            <div class="d-flex flex-column">
                                <div class="text-primary d-flex align-items-center">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                </div>
                                <div class="align-bottom">
                                    <p class="card-evaluate-name">貓咪<span class="ms-1 card-evaluate-title">學生</span></p>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                    <ul class="card-evaluate">
                        <li class="card-evaluate-content mb-lg-5">
                            這個平台是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示了我的巨大優勢，學習 9 個月後找到工作~
                        </li>
                        <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                            <img src="../assets/images/Ellipse 1.svg" alt="">
                            <div class="d-flex flex-column">
                                <div class="text-primary d-flex align-items-center">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                </div>
                                <div class="align-bottom">
                                    <p class="card-evaluate-name">貓咪<span class="ms-1 card-evaluate-title">學生</span></p>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                    <ul class="card-evaluate">
                        <li class="card-evaluate-content mb-lg-5">
                            這個平台是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示了我的巨大優勢，學習 9 個月後找到工作~
                        </li>
                        <li class="card-evaluate-person flex-lg-row flex-row-reverse">
                            <img src="../assets/images/Ellipse 1.svg" alt="">
                            <div class="d-flex flex-column">
                                <div class="text-primary d-flex align-items-center">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                    <img src="../assets/images/star.svg" alt="star">
                                </div>
                                <div class="align-bottom">
                                    <p class="card-evaluate-name">貓咪<span class="ms-1 card-evaluate-title">學生</span></p>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
                <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script src="../assets/js-plugin-circliful-master/dist/circliful.js"></script>
    <script>
        circliful.newCircle({
        percent: 85,
        id: 'circle1',
        type: 'simple',
        text: '滿意度',
        backgroundCircleWidth: 10,
        foregroundCircleWidth: 15,
        });
        circliful.newCircle({
        percent: 90,
        id: 'circle2',
        type: 'simple',
        text: '出席率',
        backgroundCircleWidth: 10,
        foregroundCircleWidth: 15,
        });
        circliful.newCircle({
        percent: 100,
        id: 'circle3',
        type: 'simple',
        text: '回覆率',
        backgroundCircleWidth: 10,
        foregroundCircleWidth: 15,
        });
    </script>
</body>
</html>



