<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/js-plugin-circliful-master/dist/main.css">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-7 ">
                <!-- 1 -->
                <div class="shadow p-xl-12 mb-xl-12">
                    <div class="d-flex">
                        <div class="d-flex flex-column align-items-center me-xl-12">
                            <img class="mb-xl-2" src="../assets/images/Rectangle 7.png" alt="" style="height: 120px; width: 120px;">
                            <p class="">麥克先生</p>
                        </div>
                        <div class="">
                            <h4 class="mb-xl-1 fw-bold">基礎前端 - HTML</h3>
                            <p class="mb-xl-2 text-primary">前端語言</p>
                            <p>帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子，輕鬆進入網頁架設的世界，完成一個基礎的網頁架設。</p>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <h2 class="fs-5 mb-xl-4">老師介紹</h2>
                <div class="shadow p-xl-12 mb-xl-12">
                    <div class="d-flex flex-md-row pb-xl-8 mb-xl-8 border-bottom">
                        <div class="d-flex flex-column me-xl-8">
                            <p class="d-flex mb-xl-4 align-items-center">
                                <span class="text-primary material-symbols-outlined d-block me-1">
                                school
                                </span>
                                <span class="text-gray-300 text-c1 me-1">學歷</span>國立中央大學 資訊工程 碩士 畢業
                            </p>
                            <p class=" d-flex align-items-center">
                                <span class="text-primary material-symbols-outlined d-block me-1">
                                business_center
                                </span>
                                <span class="text-gray-300 text-c1  me-1">經歷</span>2020.08 - 迄今 上市企業 韌體工程師
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="d-flex mb-4 align-items-center">
                                <span class="text-primary  material-symbols-outlined d-block me-1">
                                translate
                                </span>
                                <span class="text-gray-300 text-c1 me-1">語言</span>中文/英文
                            </p>
                            <p class="d-flex align-items-center">
                                <span class="text-primary material-symbols-outlined d-block me-1">
                                military_tech
                                </span>
                                <span class="text-gray-300 me-1">等級</span>入門
                            </p>
                        </div>
                    </div>
                    <p class="mb-xl-8">目前任職於上市企業 韌體工程師，撰寫各種微控制器韌體程式，如作業系統、系統軟體、裝置控制程式、驅動程式、網路應用程式、系統整合程式、數位訊號處理程式等。</p>
                    <p>興趣是幫助他人學習程式語言，我相信，透過清楚的講解與示範，任何人都可以學好編寫程式與電腦科學中的複雜概念</p>
                </div>
                <!-- 3 -->
                <h2 class="fs-5 mb-xl-4">課程簡介</h2>
                <div class="shadow p-xl-12 mb-xl-12">
                        <h3 class="title-line ps-4 fs-6 mb-xl-4 position-relative">這堂課你將會學到：</h3>
                        <ul class="d-flex flex-column mb-xl-8 ps-2">
                            <li class="list-decorate ps-4 position-relative">網頁設計，基礎知識</li>
                            <li class="list-decorate ps-4 position-relative">HTML 語法，概念實作能力</li>
                            <li class="list-decorate ps-4 position-relative">CSS , Javascript 概念與知識</li>
                            <li class="list-decorate ps-4 position-relative">能做出一個基礎的HTML 網頁</li>
                        </ul>
                        <h3 class="title-line ps-4 fs-6 mb-xl-4 position-relative">什麼是 HTML，為什麼要打造網頁，就一定要先學它？</h3>
                        <p class="mb-4">HTML元素是構建網站的基石。HTML允許嵌入圖像與物件，並且可以用於建立互動式表單，它被用來結構化資訊——例如標題、段落和列表等等，也可用來在一定程度上描述文件的外觀和語意。</p>
                        <p class="">當你掌握了HTML，就可以開始規劃並建置你想要的網頁內容 !</p>
                </div>
                <!-- 4 -->
                <h2 class="fs-5 mb-xl-4">授課時間</h2>
                <div class="shadow p-xl-12 mb-xl-12">
                    <!-- data -->
                    <div class="d-flex align-items-center gap-2 mb-xl-2">
                        <button type="button" class="btn border-light shadow d-flex align-items-center">
                        <span class="material-symbols-outlined">
                        chevron_left
                        </span></button>
                    <button type="button" class="btn border-light shadow d-flex align-items-center">
                        <span class="material-symbols-outlined">
                        navigate_next
                        </span></button>
                    <p> 2023/08/20 ~ 26</p>
                    </div>
                    <!-- calendar -->
                    <ul class="calendar d-flex gap-3">
                        <li class="calendar-list">
                            <p class="text-center">日</p>
                            <ul class="calendar-time">
                                <li><a href="">08:00</a></li>
                                <li><a href="">08:30</a></li>
                                <li><a href="">09:00</a></li>
                                <li><a href="">09:30</a></li>
                                <li><a href="">10:00</a></li>
                            </ul>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">一</p>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">二</p>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">三</p>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">四</p>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">五</p>
                        </li>
                        <li class="calendar-list">
                            <p class="text-center">六</p>
                        </li>
                    </ul>
                </div>
                <!-- 5 -->
                <h2 class="fs-5 mb-xl-4">教師表現數據</h2>
                <div class="shadow p-xl-12 mb-xl-12">
                    <ul class="d-flex justify-content-between">
                        <li>
                            <div class="circle" id="circle1" style="width: 200px; height: 200px;"></div>
                        </li>
                        <li>
                            <div class="circle" id="circle2" style="width: 200px; height: 200px;"></div>
                        </li>
                        <li>
                            <div class="circle" id="circle3" style="width: 200px; height: 200px;"></div>
                        </li>
                    </ul>
                </div>
                    
                </div>
            </div>            
            
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script src="../assets/js-plugin-circliful-master/dist/circliful.js"></script>
    <script>
        circliful.newCircle({
        percent: 85,
        id: 'circle1',
        type: 'simple',
        text: '滿意度',
        backgroundCircleWidth: 10,
        foregroundCircleWidth: 15,
        });
        circliful.newCircle({
        percent: 90,
        id: 'circle2',
        type: 'simple',
        text: '出席率',
        backgroundCircleWidth: 10,
        foregroundCircleWidth: 15,
        });
        circliful.newCircle({
        percent: 100,
        id: 'circle3',
        type: 'simple',
        text: '回覆率',
        backgroundCircleWidth: 10,
        foregroundCircleWidth: 15,
        });
    </script>
</body>
</html>



