<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <!-- course -->
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-between align-items-end mb-2">
        <p class="mb-2">共 12 個結果</p>
        <div class="d-flex gap-4">
          <button type="button" class="btn btn-outline-secondary2" data-bs-toggle="collapse" data-bs-target="#collapse-filter" aria-expanded="true" aria-controls="collapse-filter">篩選 (3)</button>
          <div class="dropdown">
            <button class="btn btn-outline-secondary2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              排序依據
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">最熱門</a></li>
              <li><a class="dropdown-item" href="#">最高評等</a></li>
              <li><a class="dropdown-item" href="#">最新</a></li>
            </ul>
          </div>
        </div>
      </div>
        <!-- card -->
        <div class="w-100">
          <!-- 1 -->
          <div class="card shadow">
            <div class="d-flex flex-wrap flex-md-nowrap">
              <div class="d-flex flex-grow-1 p-3 p-sm-4">
                <!-- 老師區塊 -->
                <div class="course-card-header me-4">
                  <!-- 愛心 -->
                  <a href="#" class="align-self-start">
                    <i
                      class="fa-regular fa-heart fs-3 text-primary hover-bold"
                    ></i>
                  </a>
                  <!-- 圖 -->
                  <a href="#" class="text-center">
                    <div class="mb-2">
                      <img
                        class="avatar"
                        src="../assets/images/Rectangle 7.png"
                        alt="teacher"
                      />
                    </div>
                    <!-- 姓名、職稱 -->
                    <h3 class="fs-7 fs-md-6 text-secondary2 mb-1">麥克先生</h3>
                  </a>
                  <ul class="text-center text-gray-300 fs-sm fs-md-7 mb-2">
                    <li class="d-flex align-items-center">
                      <img src="../assets/images/star.svg" alt="star" /><span
                        class="fw-bold me-1"
                        >5.0</span
                      >
                      講師評等
                    </li>
                    <li>100 位學生</li>
                    <li>3 門課程</li>
                  </ul>
                  <!-- link -->
                  <ul class="d-flex justify-content-center mb-0">
                    <li class="me-1">
                      <a href="#" class="p-1">
                        <i class="fa-brands fa-github"></i
                      ></a>
                    </li>
                    <li class="me-1">
                      <a href="#" class="p-1">
                        <i class="fa-brands fa-linkedin-in"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" class="p-1">
                        <i class="fa-brands fa-codepen"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- 課程區塊 -->
                <div class="flex-grow-1">
                  <div>
                    <!-- 課程名稱 -->
                    <h2 class="fs-6 fs-sm-5 fs-md-4 line-ellipsis mb-2">
                      從零開始成為切版大師
                    </h2>
                    <!-- 優質標籤 -->
                    <ul class="d-flex gap-2 mb-2">
                      <li class="badge bg-primary fw-normal fs-sm fs-lg-7">
                        熱門
                      </li>
                      <li class="badge bg-primary fw-normal fs-sm fs-lg-7">
                        新
                      </li>
                      <li class="badge bg-primary fw-normal fs-sm fs-lg-7">
                        優質老師
                      </li>
                    </ul>
                    <!-- 課程tag -->
                    <ul
                      class="d-flex flex-wrap text-primary text-nowrap fs-sm fs-md-7 mb-1 mb-sm-2"
                    >
                      <li class="me-1">#業界技術</li>
                      <li class="me-1">#實戰專案開發</li>
                      <li class="me-1">#5年家教經驗</li>
                      <li class="me-1">#前端</li>
                    </ul>
                    <!-- 課程評價、難度 -->
                    <div class="d-flex">
                      <a
                        href="#"
                        class="d-flex align-items-center mb-1 mb-sm-2 mb-md-4"
                      >
                        <img src="../assets/images/star.svg" alt="star" />
                        <img
                          class="d-none d-sm-inline"
                          src="../assets/images/star.svg"
                          alt="star"
                        />
                        <img
                          class="d-none d-sm-inline"
                          src="../assets/images/star.svg"
                          alt="star"
                        />
                        <img
                          class="d-none d-sm-inline"
                          src="../assets/images/star.svg"
                          alt="star"
                        />
                        <img
                          class="d-none d-sm-inline"
                          src="../assets/images/star.svg"
                          alt="star"
                        />
                        <span class="fw-bold fs-sm fs-md-7 ms-1">5.0</span>
                        ・
                        <span class="fs-sm fs-md-7 me-2">28個評論 </span>
                      </a>
                      <p class="text-gray-300">| 入門</p>
                    </div>
                    <!-- 課程介紹 -->
                    <p class="fs-sm fs-sm-7 fs-md-6 text-justify mb-2 mb-md-4">
                      透過我的課程，從零開始成為前端切版專家，開啟引人注目的網頁開發之旅！
                    </p>
                    <!-- 課程篩選tag -->
                    <div class="course-card-text">
                      <h4 class="course-card-title mb-2 mb-sm-3">
                        你可以跟我學
                      </h4>
                      <ul class="d-flex gap-1 gap-md-2 flex-wrap mb-0">
                        <li>
                          <span
                            class="badge text-bg-secondary text-gray-300 fs-sm fs-md-6"
                            >HTML</span
                          >
                        </li>
                        <li>
                          <span
                            class="badge text-bg-secondary text-gray-300 fs-sm fs-md-6"
                            >CSS</span
                          >
                        </li>
                        <li>
                          <span
                            class="badge text-bg-secondary text-gray-300 fs-sm fs-md-6"
                            >SCSS</span
                          >
                        </li>
                        <li>
                          <span
                            class="badge text-bg-secondary text-gray-300 fs-sm fs-md-6"
                            >Tailwind</span
                          >
                        </li>
                        <li>
                          <span
                            class="badge text-bg-secondary text-gray-300 fs-sm fs-md-6"
                            >Bootstrap</span
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- 收合內容 -->
                    <div class="collapse" id="collapseCourse1">
                      <!-- 你將獲得 -->
                      <div class="course-card-text">
                        <h4 class="course-card-title mb-2">你將獲得</h4>
                        <ul class="fs-sm fs-sm-7 fs-md-6 mb-0">
                          <li class="list-disc">
                            我擁有多年的前端開發經驗，課程內容將充滿實際案例。
                          </li>
                          <li class="list-disc">
                            根據你的背景和目標，提供量身定制的指導和建議。
                          </li>
                          <li class="list-disc">
                            我建立一個學生社群，你可以在這個社群中與其他學生互相學習和交流
                          </li>
                        </ul>
                      </div>
                      <!-- 評價 -->
                      <div class="course-card-text">
                        <h4 class="course-card-title mb-2">精選評價</h4>
                        <p class="fs-sm fs-sm-7 fs-md-6 text-justify mb-1 mb-md-2">
                          "這個課程是我轉職成功的關鍵！老師專業且耐心，從零開始教我寫程式，培養了我的切版能力。擁有作品集和個人網站，面試中展示給我巨大優勢。謝謝老師的教導和指導，強烈推薦！"
                        </p>
                        <div
                          class="d-flex justify-content-end align-items-center"
                        >
                          <img
                            class="me-2 d-none d-md-block"
                            src="../assets/images/Ellipse 1.svg"
                            alt="student"
                            width="40"
                            height="40"
                          />
                          <div class="d-flex  flex-md-column fs-sm fs-md-7">
                            <p class="fw-bold me-2 me-md-0  ">Cookie</p>
                            <p>2023/7/1</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 瀏覽更多 -->
                    <button
                      class=" btn btn-gray fs-sm fs-sm-7 py-1 px-2 py-sm-2 px-sm-4 float-end readMore"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseCourse1"
                      aria-expanded="false"
                      aria-controls="collapseCourse1"
                    ></button>
                  </div>
                </div>
              </div>
              <!-- 按鈕區塊 -->
              <div class="course-card-footer gap-2 gap-sm-6">
                <!-- 價格 -->
                <div
                  class="d-flex justify-content-center flex-md-wrap gap-2 gap-sm-5"
                >
                  <p class="text-nowrap text-center fs-sm fs-sm-6">
                    <span class="fw-bold fs-6 fs-sm-5">NT$ 200 </span
                    ><br />體驗價
                  </p>
                  <p class="text-nowrap text-center fs-sm fs-sm-6">
                    <span class="fw-bold fs-6 fs-sm-5">NT$ 800 </span
                    ><br />50分鐘
                  </p>
                </div>
                <!-- 購買按鈕 -->
                <button
                  type="button"
                  class="btn btn-secondary2 w-100 fs-sm fs-sm-7 py-1 px-2 py-sm-2 px-sm-4"
                >
                  立即上課
                </button>
                <a
                  href="#"
                  type="button"
                  class="btn btn-white w-100 fs-sm fs-sm-7 py-1 px-2 py-sm-2 px-sm-4"
                >
                  查看介紹
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- filter -->
        <div class="col-4 bg-warning"></div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
