<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>index</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<button type="button" class="btn btn-secondary2">範例按鈕</button>
		<button type="button" class="btn btn-secondary2" disabled>範例按鈕</button>
		<button type="button" class="btn-text">範例按鈕</button>
		<button type="button" class="btn-text" disabled>範例按鈕</button>
		<!-- <button type="button" class="btn btn-secondary2">範例按鈕</button>
		<button type="button" class="btn btn-secondary2" disabled>範例按鈕</button> -->
		<br />
		<br />
		<!-- <a class="d-flex align-items-center btn-text disabled" href="###">
			<span class="text-black me-1 fw-bold">查看更多</span>
			<span class="material-icons text-white bg-secondary2 rounded-circle">
				chevron_right
			</span>
		</a> -->

		<button class="btn btn-text" href="###" disabled>
			<span class="text-black me-1 fw-bold">查看更多</span>
			<span class="material-icons"> chevron_right </span>
		</button>

		<br />

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
