<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>index</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<h1 class="index-title">貓咪我更改了首頁測試</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
			repellendus!
		</p>
		<img src="../assets/images/cat.jpg" style="width: 300px" alt="cat" />

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
