<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C0DE | 讓你從 0 到 Expert</title>
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <%- include("./layout/header.ejs",{page: "register"}) -%>
    <div class="container py-5 py-md-10 mt-16 mt-md-19">
      <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex flex-column align-items-center">
          <img
            class="mb-2 mb-md-3 w-40px"
            src="../assets/images/logo-img.svg"
            alt="logo"
          />
          <h1 class="fs-3 mb-2 mb-md-4">會員註冊</h1>

          <form
            id="registerForm"
            class="col-12 col-sm-10 col-md-8 col-lg-5 needs-validation"
            novalidate
          >
            <button
              type="button"
              class="btn btn-outline-secondary2 rounded-1 fs-5 w-100 py-3 mb-2 mb-md-4"
            >
              <i class="fa-brands fa-google me-3"></i>使用 Google 註冊
            </button>
            <div class="form-floating mb-2 mb-md-4">
              <input
                type="email"
                class="form-control rounded-1"
                id="floatingInput"
                placeholder="name@example.com"
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$
                "
                required
              />
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-2 mb-md-4">
              <input
                type="text"
                class="form-control rounded-1"
                id="floatingName"
                placeholder="Username"
                required
              />
              <label for="floatingName">姓名</label>
            </div>
            <div class="form-floating d-flex align-items-center">
              <input
                type="password"
                class="form-control rounded-1"
                id="floatingPassword"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                placeholder="Password"
                required
              />
              <!-- <i class="bi bi-eye-slash-fill position-absolute end-0 p-4"></i> -->
              <label for="floatingPassword">密碼</label>
            </div>
            <div id="passwordHelpBlock" class="form-text ms-2 mb-2 mb-md-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-exclamation-circle me-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
                />
              </svg>
              大於8個字元，包含數字、大寫和小寫字母
            </div>
            <div class="form-floating d-flex align-items-center mb-2 mb-md-4">
              <input
                type="password"
                class="form-control rounded-1"
                id="floatingPassword"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                placeholder="Password"
                required
              />
              <!-- <i class="bi bi-eye-slash-fill position-absolute end-0 p-4"></i> -->
              <label for="floatingPassword">確認密碼</label>
            </div>
            <button
              id="registerBtn"
              type="submit"
              class="btn btn-secondary2 rounded-1 fs-5 w-100 py-3 mb-4"
              ds-
            >
              <i class="fa-solid fa-user me-3"></i>
              加入會員
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- login Success Modal-->
    <div
      class="modal fade"
      id="registerSuccess"
      tabindex="-1"
      aria-labelledby="registerSuccess"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div
          class="modal-content p-6 container d-flex flex-column align-items-center"
        >
          <div class="row justify-content-center">
            <div class="col-12">
              <div>
                <div class="text-center">
                  <img
                    class="mb-2 mb-md-3 w-40px"
                    src="../assets/images/logo-img.svg"
                    alt="logo"
                  />
                </div>
                <h1 class="fs-4 mb-0 text-center mb-10">
                  感謝您的註冊！<br />非常歡迎您成為我們的會員
                </h1>
              </div>
              <div class="modal-body p-0">
                <p class="text-center mb-4">
                  我們已寄送一封帳號驗證信至您的信箱<br />exa***e1@gmail.com
                </p>
                <p class="text-center mb-10">
                  請點擊驗證信的「<strong>連結</strong>」來開通帳號
                </p>
                <div
                  class="text-center mb-2 d-flex justify-content-between align-items-center"
                >
                  <span>沒收到信嗎?</span>
                  <button
                    type="button"
                    class="btn btn-outline-secondary2 rounded-1 py-2"
                  >
                    重新寄送驗證信
                  </button>
                </div>
                <a
                  href="./login.html"
                  type="button"
                  class="btn btn-secondary2 rounded-1 w-100 py-3"
                >
                  前往登入頁面
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- message -->
    <%- include("./layout/message.ejs") -%>

    <!-- footer -->
    <%- include("./layout/footer.ejs") -%>

    <!-- backtotop -->
    <%- include("./layout/backtotop.ejs") -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
